{% extends 'base.html' %}
{% block title%}Bookmark List{% endblock %}
{% block content %}
<div class="btn-group">
    <a href="{% url 'add' %}" class="btn btn-info">add bookmark</a>
</div>
<p></p>
<table class="table">
    <thread>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Site</th>
            <th scope="col">URL</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
        </tr>
    </thread>
    <tbody>
        {% for bookmark in object_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'detail' pk=bookmark.id %}">{{bookmark.site_name}}</a></td>
                <td><a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a></td>
                <td><a href="{% url 'update' pk=bookmark.id %}" class="btn btn-success btn-sm">Modify</a></td>
                <td><a href="{% url 'delete' pk=bookmark.id %}" class="btn btn-danger bnt-sm">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
# 북마크 하나당 tr 한개
# html 문법 중괄호 하나는 기능 태그, 2개는 프린트
#bookmarkList에서 데이터가 다 날라오고, 그중에서 여러개가 나와야할때는
#objec_list를 쓰고, 한개만 필요할때는 object를 쓴다.